@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --nav-bg: #f8fafc;
  --link-border-bg: #ef4444;
  --text-color: #262626;
}
body {
  font-family: Roboto;
}

#container {
  width: 100vw;
}

nav {
  width: 100vw;
  height: 100px;
  background: var(--nav-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  list-style: none;
  font-size: 1rem;
  gap: 1rem;
  text-transform: uppercase;
}

.links li {
  border-bottom: 2px solid transparent;
  padding-bottom: 0.4rem;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-color);
}

.links li:hover {
  border-bottom: 2px solid var(--link-border-bg);
}

.hero {
  background: url(./coffee.jpg) center;
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero button {
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  background: transparent;
  color: #f8fafc;
  border: 1px solid #f8fafc;
}

.hero button:hover {
  background: #f8fafc;
  color: #44403c;
  border: 1px solid #44403c;
  cursor: pointer;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
}

.description h2 {
  text-transform: uppercase;
  margin: 2rem;
  font-weight: 900;
  font-size: 32px;
  border-bottom: 4px solid #ef4444;
  padding-bottom: 10px;
}

.description p {
  font-weight: 400;
  font-size: 20px;
}

.about {
  color: var(--text-color);
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  margin: 1rem;
  padding-bottom: 10px;
  border-bottom: 3px solid #ef4444;
  text-transform: uppercase;
}

.about p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.menu {
  column-rule: var(--text-color);
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu h1 {
  margin: 1rem;
  border-bottom: 3px solid #ef4444;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.menu ul li p {
  font-weight: 400;
  font-size: 20px;
}

.menu ul li h3 {
  text-transform: capitalize;
}

.menu ul li strong {
  color: #ef4444;
}

.active {
  border-bottom: 2px solid var(--link-border-bg) !important;
}
